[Unit]
Description=The plugin-driven server agent for reporting metrics into InfluxDB
Documentation=https://github.com/influxdata/telegraf
After=influxdb.service

[Service]
User=pi
Environment=INFLUX_TOKEN=
ExecStartPre=-/sbin/modprobe w1_gpio
ExecStartPre=-/sbin/modprobe w1_therm
ExecStartPre=-/home/pi/templogger/bin/logger.py init -r 12
ExecStart=-/home/pi/templogger/bin/telegraf --config /home/pi/templogger/etc/telegraf/telegraf_temp.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
